* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neue-haas-unica, sans-serif;
}

:root {
    --body-color: #fdf9f5;
    --color-white: rgba(250,250,250);
    --first-color: #d9a595;;
    --first-shadow: rgba(0, 0, 0, 0.1);
    --nav-color: #fdf9f5;
    --text-color: #28282B;
    --icon-color: #28282B;
    --mode-color: #fdf9f5;
}

body {
    background: var(--body-color);
}

body, nav, footer {
    -webkit-animation: colorchange 20s infinite;
    animation: colorchange 20s infinite;
  }
  @-webkit-keyframes colorchange {
    0% {
      background: #fdf9f5;
    }
    25% {
      background: #e2b89f;
    }
    50% {
      background: #cc724e;
    }
    75% {
      background: #cd5c5c;
    }
    100% {
      background: #fdf9f5;
    }
  }
  @keyframes colorchange {
    0% {
        background: #fdf9f5;
      }
      25% {
        background: #e2b89f;
      }
      50% {
        background: #cc724e;
      }
      75% {
        background: #cd5c5c;
      }
      100% {
        background: #fdf9f5;
      }
  }
/* nav bar */

nav {
    position: fixed;
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 10vw;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;   
}

.nav-name {
    font-size: 50px;
    color: var(--nav-color);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.nav-menu, 
.nav_menu_list {
    display: flex;
    column-gap: -30px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
    color: var(--nav-color);
}

.nav-link {
    text-decoration: none;
    color: var(--nav-color);
    font-weight: 600;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer; 
    color: var(--nav-color);
}

.active-link {
    position: relative;
    color: var(--nav-color);
    transition: 0.3s;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: var(--nav-color);
}

/* mode */
.mode {
    display: flex;
    align-items: center;
    margin-right: -2%;
}

.moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
    border-radius: 40px;
    cursor: pointer;
    background: var(--mode-color);
}

.mode-sun :is(#moon,#sun) {
    position: absolute;
    transition: .2s ease-in-out;
}

#sun {
    opacity: 0;
}

body.dark #sun {
    opacity: 1;
}

body.dark #moon {
    opacity: 0;
}

/* wrapper */
.wrapper {
    padding-inline: 10vw;
}

/* featured box */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* featured text */
.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    width: 60%;
    padding-left: 20px;
    margin-top: 10%;
    margin-bottom: 10px;
    font-family: neue-haas-unica, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.featured-text .hello {
    display: flex;
    font-size: 8em;
    margin-bottom: -20px;
    color: var(--nav-color);
    width: 7ch;
}

.hello p {
    font-family: "Playfair Display", serif;
}

.featured-image {
    position: block;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: right;
    padding-left: 20em;
    z-index: -2;
}

img {
    width: 20%;
}

.text-info {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 3px;
    color: var(--text-color);
}

.text-btn {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
}

.text-btn .btn {
    border: none;
    color: var(--text-color);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

.btn {
    text-decoration: none;
    font-size: 17px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background: var(--nav-color);
    font-weight: 500;
    transition: all 0.5s ease;
}

.btn i {
    margin-right: 10px;
}

i {
    font-size: 20px;
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: var (--icon-color);
}

a:hover {
    color: var(--first-color);
}

a:active {
    color: var(--first-color);
}

/* social icons */
.social_icons {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    gap: 32px;
    width: 90px;
    height: 90px;
}

.social_icons .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--icon-color);
    border-radius: 50%;
    cursor: pointer;
    -webkit-animation: colorchange 20s infinite;
    animation: colorchange 20s infinite;
}

.icon_circle {
    position: absolute;
    transform: transform(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation-delay: 4s;
    animation: iconSlide 5s infinite alternate;
}

@keyframes iconSlide {
    25% {
        border: 2px solid #fdf9f5;
        left: 25px;
    }
    50% {
        border: 2px solid #fdf9f5;
        left: 107px;
    }
    75% {
        border: 2px solid #fdf9f5;
        left: 189px;
    }
    100% {
        border: 2px solid #fdf9f5;
        left: 271px;
    }
}

.social_icons:hover .icon_circle {
    animation-play-state: paused;
    cursor: pointer;
}

.icon {
    text-decoration: none;
}

/* main */

.section {
    padding-block: 5em;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

.top-header {
    text-align: center;
    margin-bottom: 1em;
}

.top-header h1 {
    font-weight: 600;
    color: var(--text-color);
    margin-top: 3em;
    margin-bottom: 1em;
}

.top-header p {
    margin-top: 8px;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: 550;
    font-size: 16px;
}

iframe {
    margin-top: 3em;
    background-color: #28282B;
    border: 6px solid #28282B;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    border-radius: 20px;
}

div.scroll-container {
  margin-top: 4em;
  background-color: white;
  border: 6px solid white;
  box-shadow: 1px 8px 10px 2px var(--first-shadow);
  border-radius: 20px;
  overflow: auto;
  white-space: nowrap;
  padding: 0px;
  max-height: fit-content;
}

/* about info */

.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 45px 45px;
    padding-inline: 35px;
    background: var(--nav-color);
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    border-radius: 20px;
}

.about-me * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.about-info figcaption {
    width: 100%;
    padding: 25px;
    position: relative;
}

.about-me .profile {
    border: solid 2px #fdf9f5;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    z-index: 1;
    background-color: #d26f69;
    max-width: 70px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about-me h2 {
    color: var(--text-color);
}

.about-me p {
    margin-top: 7px;
    margin-bottom: 1px;
    color: var(--text-color);
    font-size: 18px;
    text-align: left;
}

.about-info .about-me-btn {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: var(--text-color);
    color: var(--nav-color);
    margin-top: 8px;
    font-weight: 550;
    transition: all 0.5s ease;
}

/* Projects Box */

.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: var(--nav-color);
    border: solid 2px #fdf9f5;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    overflow: hidden;
    cursor: pointer;
}

.project-box label {
    font-size: 16px;
    font-weight: 550;
    margin-top: 5px;
    color: var(--first-color);
}

.project-box::after {
    content: "";
    position: absolute;
    bottom: -100%;
    background: #e2b89f;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 0.1;
}

.project-box:hover.project-box::after {
    bottom: 0;
}

.project-box:hover.project-box i,
.project-box:hover.project-box > h3,
.project-box:hover.project-box > label {
    z-index: 2;
    color: var(--text-color)
}

h3 {
    color: var(--text-color);
}
/* Contact Box */

.contact-info .contact-me-btn {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: var(--nav-color);
    color: var(--text-color);
    margin-top: 8px;
    font-weight: 550;
    transition: all 0.5s ease;
}

/* Footer box */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: var(--nav-color);
    font-weight: 500;
    margin-inline: 20px;
}

.footer_menu_list a:hover {
    color: var(--first-color);
}

.footer-social-icons {
    display: flex;
    gap: 30px;
    color: var(--color-white);
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
}

/* dark mode */

body.dark {
    --nav-color: #28282B;
    --text-color: #fdf9f5;
} 

.project-box.dark {
    border: 2px solid #28282B;
}

.container {
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

html.sr .load-hidden {
    visibility: hidden;
}

/* media query = 1024px */

@media only screen and (max-width: 1024px) {
    .featured-text {
        padding: 0;
        font-size: smaller;
    }
    .image,
    .image img {
        width: 320px;
        height: 320px;
    }

    iframe {
        height: 290px;
        width: 450px;
    }

    .footer-menu {
        font-size: x-small;
    }
}

/* media query = 900px */

@media only screen and (max-width: 900px) {
    .nav-menu-btn {
        display: none;
    }

    .nav-menu-responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(250, 250, 250, 0.7);
        backdrop-filter: blur(5px);
        width: 300px;
        border-radius: 0px 30px 0px 30px;
        min-height: 450px;
        height: 100vh;
        transition: 0.3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .featured-text {
        display: flex;
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60dvh;
    }

    .featured-text .hello {
        font-size: 6em;
    }

    .text-info {
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 3px;
        color: var(--text-color);
    }

    .social_icons {
        margin-top: 2em;
    }

    @keyframes iconSlide {
        25% {
            border: 2px solid #fdf9f5;
            left: 6px;
        }
        50% {
            border: 2px solid #fdf9f5;
            left: 88px;
        }
        75% {
            border: 2px solid #fdf9f5;
            left: 169px;
        }
        100% {
            border: 2px solid #fdf9f5;
            left: 252px;
        }
    }

    .image,
    .image img {
        width: 150px;
        height: 150px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info {
        width: 100%;
    }

    .about-me p {
        font-size: 14px;
    }

    .project-container {
        justify-content: center;
    }    

    .project-box {
        width: 80%;
    }

    .mode {
        display: flex;
        align-items: center;
        margin-left: 60%;
    }
}

@media only screen and (max-width: 540px) {

    .text-info {
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 3px;
        color: var(--text-color);
    }

    .project-box {
        width: 100%;
    }

    .mode {
        margin-left: 50%;
    }
}
